* {
  margin: 0; padding: 0;
  text-decoration: none;
}
body {
  height: 100vh;
  overflow: hidden;
  background-image: url("website_image.png");
  background-size: 100% 100%;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 2.083333333vw;
  width: 15.104166667vw;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.06875vw;
  color: white;
}

a {
  text-align: center;
  color: white;
  font-size: 2vw;
  padding: 1.302083333vw 2.34375vw;
}

button {
  font-family: 'Comfortaa';
  width: 8.333333333vw;
  height: 2.447916667vw;
  position: absolute;
  bottom: 1px;
  left: 2%;
  text-align: center;
  line-height: 1.5625vw;
  color: black;
  font-size: 1.40625vw;
  border: none;
  outline: none;
  border-radius: 1.302083333vw;
  background: linear-gradient(to left, #00ffed, #9d00c6);
  cursor: pointer;
}

#last {
  padding-right: 0.625vw;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24.666666667vw;
	height: 16.666666667vw;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83%;
  height: 50%;
}

.logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 4vw;
  color: white;
  padding-top: 0.260416667vw;
  padding-left: 1.041666667vw;
}

.navbar {
  position: fixed;
  top: 1.5625vw;
  right: 3px;
}

@media screen and (max-width: 600px) {
  h1 {
  	font-size: 4.083333333vw;
  	width: 54.104166667vw;
  }
  p {
  	font-size: 2.06875vw;
  }
  a {
  	font-size: 3vw;
  }
  button {
  	width: 16.333333333vw;
  	height: 4.447916667vw;
  	line-height: 4.5625vw;
  	font-size: 2.40625vw;
  	border-radius: 2.302083333vw;
  }
  .logo {
  	font-size: 6vw;
  }
  .content {
  	width: 46.666666667vw;
  	height: 31.666666667vw;
  }
  .text {
  	height: 58%;
  }
}
